# Auto detect text files and perform LF normalization
* text=auto
dist/* linguist-vendored=true
*.js linguist-vendored=true
*.md linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
